<div class="d-flex flex-column justify-center">
    <div>
        <hr style="border-top: 1px solid #c8c8c8;">
    </div>
    <div style="margin: 1% 0%">
        <SocialLinks />
    </div>
    <div class="d-flex flex-row justify-center" style="color: white; background-color: #051039;">
        <div class="d-flex flex-row justify-space-between gap-x-2" style="width: 960px; margin: 1% 0%;">
            <div class="d-flex flex-column justify-start gap-2" style="width: 250px; padding-top: 1%;">
                <h2>Help and Contacts</h2>
                <a href="/" class="link link-underline">Contact us</a>
                <a href="/" class="link link-underline">Claims</a>
                <a href="/" class="link link-underline">Refund</a>
                <a href="/" class="link link-underline">Passengers with disabilities</a>
            </div>
            <div class="d-flex flex-column justify-start gap-2" style="width: 250px; padding-top: 1%;">
                <h2>Online payment and shopping</h2>
                <a href="/" class="link link-underline">Booking fees and payment methods</a>
                <a href="/" class="link link-underline">Air France shopping</a>
                <a href="/" class="link link-underline">Why book your ticket on the official Air France website?</a>
            </div>
            <div class="d-flex flex-column justify-start gap-2" style="width: 250px; padding-top: 1%;">
                <h2>About Air France and partners</h2>
                <a href="/" class="link link-underline">Flying Blue</a>
                <a href="/" class="link link-underline">Transavia</a>
                <a href="/" class="link link-underline">KLM</a>
                <a href="/" class="link link-underline">SkyTeam</a>
                <a href="/" class="link link-underline">Air France corporate</a>
                <a href="/" class="link link-underline">Worldwide sites</a>
                <a href="/" class="link link-underline">Travel destinations</a>
                <a href="/" class="link link-underline">Affiliate program</a>
            </div>
            <div class="d-flex flex-column justify-start gap-2" style="width: 250px; padding-top: 1%;">
                <h2>Air France app</h2>
                <img class="cursor-pointer" style="width: 200px; height: 60px;" src="https://img.static-af.com/images/media/9D55C68A-D87B-4B21-B7F43E7B76A99E9A/" />
                <img class="cursor-pointer" style="width: 200px; height: 60px;" src="https://img.static-af.com/images/media/718E33D6-4636-411F-839A07629E5B96F4/" />
                <img class="cursor-pointer" style="width: 200px; height: 60px;" src="https://img.static-af.com/images/media/9FE3B888-7858-4E4D-8390C7E41A4982B7/" />
            </div>
        </div>
    </div>
</div>