<div class="d-flex flex-row justify-space-between gap-x-6" style="width: 960px; padding: 30px; border: 1px solid #c8c8c8; border-radius: 10px; color: #051039; background-color: white;">
    <div class="d-flex flex-column gap-y-2" style="width: 77%;">
        <h2 style="font-size: 1.2rem; line-height: 1.2727272727;">
            Looking for special deals? Need inspiration?
        </h2>
        <p style="font-size: 1rem; line-height: 1.3333333333; font-family: ExcellenceInMotion,Helvetica Neue,sans-serif; font-weight: 400; color: #051039;">
            Sign up here to receive personalized offers, travel ideas and information about our new products and services.
        </p>
    </div>
    <div class="align-self-center">
        <MudButton Variant="Variant.Outlined" Style="font-size: 1rem; color: #051039; text-transform: none; padding: 10px 35px;">
            Sign up now
        </MudButton>
    </div>
</div>