<div style="width: 950px; color: #051039;">
    <div class="d-flex flex-column gap-y-8">
        <h1 style="font-weight: bold;"> Destinations and deals</h1>
        <span style="font-size: 18px;"> Discover our deals from Warsaw</span>

        <div class="d-flex flex-column gap-y-2">
            @foreach (var d in _deals)
            {
                <PresentedDeal Deal="d" />
            }
        </div>
    </div>
    <div style="margin-top: 3%;">
        <span style="color: grey; font-size: 12px;">* All amounts are in PLN. Taxes and surcharges are included. No booking fee is applicable, but a payment surcharge may apply. Prices shown may vary depending on fare availability.</span>
    </div>
    <div style="margin-top: 3%;">
        <MudButton Variant="Variant.Filled" Style="background-color: #051039; color:white; text-transform: none; padding: 1% 2.5%;">All deals</MudButton>
    </div>
</div>