<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .bwc-body-1-bold {
        font-size: 1.08rem;
        line-height: 1.3333333333;
        font-family: ExcellenceInMotion,Helvetica Neue,sans-serif;
        text-transform: none;
        font-weight: 700;
    }

    .bwc-title-3 {
        font-size: 1.4rem;
        line-height: 1.2307692308;
        font-family: ExcellenceInMotion,Helvetica Neue,sans-serif;
        text-transform: none;
        font-weight: 700;
    }

    .transition-padding {
        padding-bottom: 2%;
        transition: 0.3s;
    }

        .transition-padding:hover {
            padding-bottom: 4%;
        }
</style>

<div style="width: 960px; color: #051039;">
    <div class="d-flex flex-column gap-y-4">
        <h1 style="font-weight: bold;">Air France Travel Destinations</h1>
        <span style="font-size: 18px;">Every dream has a destination</span>

        <div class="d-flex flex-row gap-x-6">
            <div class="d-flex container justify-center transition-padding cursor-pointer" style="width: 50%; height: 536px; border-radius: 10px; color: white; background-color: pink;">
                <div class="align-self-end">
                    <div class="bwc-body-1-bold">
                        Japan
                    </div>
                    <div class="bwc-title-3">
                        Osaka
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-y-6" style="width: 50%; height: 536px; border-radius: 10px;">
                <div class="d-flex container justify-center transition-padding cursor-pointer" style="width: 100%; height: 264px; border-radius: 10px; background-color: dodgerblue;">
                    <div class="align-self-end">
                        <div class="bwc-body-1-bold">
                            United States Of America
                        </div>
                        <div class="bwc-title-3">
                            San Francisco
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row gap-x-6" style="width: 100%; height: 264px;">
                    <div class="d-flex container justify-center transition-padding cursor-pointer" style="width: 50%; height: 264px; border-radius: 10px; background-color: lightgreen;">
                        <div class="align-self-end">
                            <div class="bwc-body-1-bold">
                                United Kingdom
                            </div>
                            <div class="bwc-title-3">
                                Manchester
                            </div>
                        </div>
                    </div>
                    <div class="d-flex container justify-center transition-padding cursor-pointer" style="width: 50%; height: 264px; border-radius: 10px; background-color: orangered;">
                        <div class="align-self-end">
                            <div class="bwc-body-1-bold">
                                France
                            </div>
                            <div class="bwc-title-3">
                                Ajaccio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 3%;">
        <MudButton Variant="Variant.Filled" Style="font-size: 1rem; background-color: #051039; color:white; text-transform: none; padding: 1% 2.5%;">
            Get inspired for your next destination
        </MudButton>
    </div>
</div>