<style>
    .on-hover-transition {
        border: 1px solid transparent;
    }

        .on-hover-transition:hover {
            border: 1px solid #c8c8c8;
        }
</style>

<div style="width: 960px; color: #051039;">
    <div class="d-flex flex-column gap-y-8">
        <MudText Typo="Typo.h5" style="font-weight: bold;">Looking for more than a flight?</MudText>

        <div class="d-flex flex-row justify-space-between">
            <div class="d-flex justify-center align-self-center cursor-pointer on-hover-transition" style="width: 220px; height: 312px; background-color: #e1e1e1; border-radius: 10px;" title="Rent a car at a favorable price and earn Miles">
                <div class="d-flex flex-column" style="width: 100%; height: 100%; padding: 10px;">
                    <img style="width: 144px; height: 144px;" src="https://img.static-af.com/images/meta/IDname/AFDESIGN-HP-PARTNER-CAR-RENTAL/?w=200&aspect_ratio=1:1" />
                    <div class="d-flex flex-column gap-y-2" style="margin-left: 14px; padding-top: 5%;">
                        <span style="font-size: 1.05rem; line-height: 1.3333333333; font-family: ExcellenceInMotion,Helvetica Neue,sans-serif; font-weight: 700;">
                            Rent a car at a favorable price and earn Miles
                        </span>
                        <span>with Hertz</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-center align-self-center cursor-pointer on-hover-transition" style="width: 220px; height: 312px; background-color: #e1e1e1; border-radius: 10px;" title="Book your accommodation and earn Miles">
                <div class="d-flex flex-column" style="width: 100%; height: 100%; padding: 10px;">
                    <img style="width: 144px; height: 144px;" src="https://img.static-af.com/images/meta/IDname/AFDESIGN-HP-PARTNER-ACCOMMODATION/?w=200&aspect_ratio=1:1" />
                    <div class="d-flex flex-column gap-y-2" style="margin-left: 14px; padding-top: 5%;">
                        <span style="font-size: 1.05rem; line-height: 1.3333333333; font-family: ExcellenceInMotion,Helvetica Neue,sans-serif; font-weight: 700;">
                            Book your accommodation and earn Miles
                        </span>
                        <span>with Booking.com</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-center align-self-center cursor-pointer on-hover-transition" style="width: 220px; height: 312px; background-color: #e1e1e1; border-radius: 10px;" title="Book a personal driver or airport parking">
                <div class="d-flex flex-column" style="width: 100%; height: 100%; padding: 10px;">
                    <img style="width: 144px; height: 144px;" src="https://img.static-af.com/images/meta/IDname/AFDESIGN-HP-PARTNER-TRANSPORTATION/?w=200&aspect_ratio=1:1" />
                    <div class="d-flex flex-column gap-y-2" style="margin-left: 14px; padding-top: 5%;">
                        <span style="font-size: 1.05rem; line-height: 1.3333333333; font-family: ExcellenceInMotion,Helvetica Neue,sans-serif; font-weight: 700;">
                            Book a personal driver or airport parking
                        </span>
                        <span>with Hertz DriveU and TravelCar</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-center align-self-center cursor-pointer on-hover-transition" style="width: 220px; height: 312px; background-color: #e1e1e1; border-radius: 10px;" title=" Discover activities at your destination">
                <div class="d-flex flex-column" style="width: 100%; height: 100%; padding: 10px;">
                    <img style="width: 144px; height: 144px;" src="https://img.static-af.com/images/meta/IDname/AFDESIGN-HP-PARTNER-ACTIVITIES/?w=200&aspect_ratio=1:1" />
                    <div class="d-flex flex-column gap-y-2" style="margin-left: 14px; padding-top: 5%;">
                        <span style="font-size: 1.05rem; line-height: 1.3333333333; font-family: ExcellenceInMotion,Helvetica Neue,sans-serif; font-weight: 700;">
                            Discover activities at your destination
                        </span>
                        <span>with GetYourGuide</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 3%;">
        <MudButton Variant="Variant.Filled" Style="font-size: 1rem; background-color: #051039; color:white; text-transform: none; padding: 1% 2.5%;">
            Discover more
        </MudButton>
    </div>
</div>