<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
<script suppress-error="BL9992" src="css/font-awesome/js/all.min.js"></script>

<div class="d-flex justify-center">   
    <MudIconButton Icon="fab fa-facebook" Style="color:#1977F3;" />
    <MudIconButton Icon="fab fa-twitter" Style="color: #1B9DF0;" />
    <MudIconButton Icon="fab fa-linkedin" Style="color: #0A66C2;" />
    <MudIconButton Icon="fab fa-instagram" Style="color: purple;" />
    <MudIconButton Icon="fab fa-facebook-messenger" Style="color: #1977F3;" />
    <MudIconButton Icon="fab fa-youtube" Style="color: red;" />
</div>